$px: .06945;
$pxmf: 3.841;
$pxm: $px * $pxmf;

@font-face {
  font-family: 'Aliceregular';
  src: url("../../fonts/Aliceregular.ttf") format("truetype");
}

@font-face {
  font-family: 'Harrington';
  src: url("../../fonts/Harrington.ttf") format("truetype");
}

body {
  width: 100%;
  margin: 0;
}

li {
  margin: 0;
}
.global_container{
  max-width: 1400px;
  padding: 0 50vw * $px;
  box-sizing: border-box;
  margin: auto;
}
#masthead {
  width: 100%;
  position: relative;
  height: 100vh;
  max-height: 900vw * $px;

  div[id*=metaslider] {
    padding: 0;
    height: auto;
    div[id*=metaslider]{
      height: auto;
      .flex-viewport{
        height: auto;
        ul{
          height: auto;
          li{
            height: 100vh;
            max-height: 900vw * $px;
          }
        }
      }
    }
    .caption-wrap{
      width: 720vw * $px;
      height: auto;
      right: 0;
      .caption{
        width: 100%;
        height: 100%;
        padding: 10vw * $px;
        font-family: Alice;
        font-style: normal;
        font-weight: normal;
        font-size: 28vw * $px;
        line-height: normal;
        color: #FFFFFF;
        text-align: left;
      }
    }
  }

  .pre_header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .main_navigation {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      color: white;

      ul {
        list-style: none;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;

        li {
          position: relative;
          padding: 10vw * $px 30vw * $px;
          display: flex;
          a {
            text-align: right;
            font-family: Alice;
            font-style: normal;
            font-weight: normal;
            font-size: 21vw * $px;
            line-height: 23vw * $px;
            color: #FFFFFF;
            text-decoration: none;
          }
          &:hover ul{
            li{
              a{
                color: white;
              }
            }
            visibility: visible;
          }
          &:hover {
            background-color: rgba(255, 255, 255, 0.8);
            transition-duration: 0.3s;
            a {
              color: black;
            }
          }

          ul {
            position: absolute;
            visibility: hidden;
            top: 0;
            left: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            margin-top: 41vw * $px;
            background-color: rgba(0, 0, 0, 0.8);

            li {
              padding: 10vw * $px 30vw * $px 10vw * $px 30vw * $px;
              color: white;
              white-space: pre;
              a {
                text-align: right;
                font-family: Alice;
                font-style: normal;
                font-weight: normal;
                font-size: 21vw * $px;
                line-height: 23vw * $px;
                color: #FFFFFF;
                text-decoration: none;
              }

              &:hover {
                background-color: rgba(255, 255, 255, 0.8);
                transition-duration: 0.3s;

                a {
                  color: black;

                }
              }
            }
          }
        }
      }
    }

    .container {
      width: 100%;
      height: auto;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 0.833vw 0;

      .global_container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        align-items: center;
        margin: auto;
      }

      .logotype {
        width: 10%;
        height: auto;
        margin-left: 50vw * $px;

        a {
          width: auto;
          height: auto;

          img {
            width: 79vw * $px;
            height: auto;
          }
        }
      }

      .company_name {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        width: auto;
        align-content: flex-end;
        flex: 1;

        .company {
          font-family: Harrington;
          font-style: normal;
          font-weight: normal;
          font-size: 48vw * $px;
          line-height: normal;
          text-align: right;
          color: #FFFFFF;
        }

        .description {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 18vw * $px;
          line-height: normal;
          text-align: right;
          color: #FFFFFF;
        }
      }

      .contacts {
        text-align: right;
        margin-right: 50vw * $px;
        font-family: Alice;
        font-style: normal;
        font-weight: normal;
        font-size: 18vw * $px;
        line-height: 21vw * $px;
        color: #FFFFFF;
      }
    }
  }
}
#primary{
  #main{
    .categories_items{
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding-bottom: 60vw * $px;
      border-top: 3vw * $px solid #000000;
      position: relative;
      box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
      .vintage_element_left{
        position: absolute;
        left: 30vw * $px;
        top: 30vw * $px;
        width: 305vw * $px;
        height: 305vw * $px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      .vintage_element_right{
        position: absolute;
        right: 30vw * $px;
        top: 30vw * $px;
        width: 305vw * $px;
        height: 305vw * $px;
        transform: rotate(90deg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      .our_products{
        font-family: Alice;
        font-style: normal;
        font-weight: 800;
        font-size: 60vw * $px;
        line-height: 55vw * $px;
        color: #000000;
        text-align: center;
        margin: 0;
        padding: 50vw * $px 0;
      }
      .categories_items__container{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        padding: 0 170vw * $px;
        .categories_items__container__item{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          height: 302vw * $px;
          position: relative;
          margin-top: 20vw * $px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          overflow: hidden;
          box-shadow: 0 14vw * $px 28vw * $px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
          &:hover .desc{
            height: auto;
          }
          a{
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 10;
          }
          .desc{
            position: absolute;
            display: block;
            width: 100%;
            height: 60vw * $px;
            bottom: 0;
            left: 0;
            background-color: rgba(0,0,0,0.6);
            transition-duration: 0.5s;
            .title{
              font-family: Alice;
              font-style: normal;
              font-weight: normal;
              font-size: 26vw * $px;
              line-height: 30vw * $px;
              color: #FFFFFF;
              padding: 15vw * $px;
              display: block;
              box-sizing: border-box;
            }
            .description{
              p{
                font-family: Alice;
                font-style: normal;
                font-weight: normal;
                font-size: 20vw * $px;
                line-height: 30vw * $px;
                color: #FFFFFF;
                padding: 0 15vw * $px 0 15vw * $px;
              }
            }
          }
          &:first-child{
            width: calc(50% - 0.964vw);
            margin-top: 0;
            transition-delay: 0.7s;
          }
          &:nth-child(2){
            width: calc(50% - 0.964vw);
            margin-top: 0;
            transition-delay: 1.4s;
          }
          &:nth-child(3){
            width: calc(33.3% - 0.964vw);
            transition-delay: 1.4s;
          }
          &:nth-child(4){
            width: calc(33.3% - 0.964vw);
            transition-delay: 1.4s;
          }
          &:nth-child(5){
            width: calc(33.3% - 0.964vw);
            transition-delay: 1.4s;
          }
          &:nth-child(6){
            width: calc(50% - 0.964vw);
          }
          &:nth-child(7){
            width: calc(50% - 0.964vw);
          }
        }
      }
    }
  }
}
.metal_items{
  width: 100%;
  padding: 0;
  margin: auto;
  box-sizing: border-box;
  max-width: 1400px;
  overflow: hidden;
  .metal_items__article{
    font-family: Alice;
    font-style: normal;
    font-weight: 800;
    font-size: 60vw * $px;
    line-height: 55vw * $px;
    color: #301C11;
    text-align: center;
  }
  .metal_items__container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .single_news_item{
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      width: calc(25% - 1.388vw);
      position: relative;
      box-shadow: 0 14vw * $px 28vw * $px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      &:hover{
        .single_news_item__img{
          position: relative;
          &::after{
            position: absolute;
            background-color: rgba(0,0,0,0.6);
            width: 100%;
            height: 100%;
            content: "";
            top: 0;
            left: 0;
          }
        }
      }
      .item_lnk{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
        z-index: 10;
      }
      .single_news_item_container{
        position: relative;
        .single_news__title{
          background-color: #3F1B07;
          color: white;
          padding: 20vw * $px;
          z-index: 5;
          box-sizing: border-box;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: auto;
          font-size: 20vw * $px;
        }
        .single_news_item__img{
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          margin-bottom: 40vw * $px;
          height: 300vw * $px;
        }
      }
    }
  }
  img{
    display: block;
    margin: 34vw * $px auto;
    height: 126vw * $px;
    width: auto;
  }
  .category_description{
    font-family: Alice;
    font-style: normal;
    font-weight: normal;
    font-size: 24vw * $px;
    line-height: 27vw * $px;
    text-align: justify;
    margin-bottom: 60vw * $px;

  }
}
.category_descriptions{
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50vw * $px 0;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5), 0px -8px 8px rgba(0, 0, 0, 0.25);
  .container{
    display: flex;
    max-width: 1400px;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    .image_container{
      width: calc(60% - 60px);
      .image{
        width: 100%;
        height: 601vw * $px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .category_desc{
        text-align: justify;
        font-family: Alice;
        font-style: normal;
        font-weight: normal;
        font-size: 20vw * $px;
        line-height: 27vw * $px;
        padding-top: 20vw * $px;
        color: #000000;
      }
    }
    .categoty_list_container{
      width: calc(40% - 60px);
      .title{
        font-family: Alice;
        font-style: normal;
        font-weight: normal;
        font-size: 48vw * $px;
        line-height: 55vw * $px;
        color: #301C11;
        text-align: left;
      }
      ul{
        list-style: none;
        padding: 0;
        margin: 0;
        .categories_items__container__item{
          padding: 20px 0;
          .cat_name{
            text-decoration: none;
            .desc{
              .title{
                font-family: Alice;
                font-style: normal;
                font-weight: normal;
                font-size: 21vw * $px;
                line-height: 23vw * $px;
                color: #000000;
                text-decoration: none;
              }
              .description{
                p{
                  padding: 0;
                  margin: 0;
                }
                font-family: Alice;
                font-style: normal;
                font-weight: normal;
                font-size: 18vw * $px;
                line-height: 21vw * $px;
                color: #000000;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}
.our_pluses{
  margin: auto;
  width: 100%;
  padding: 0 0 40vw * $px 0;
  box-sizing: border-box;
  .global_container{
    margin: auto;
    img{
      display: block;
      margin: 2.3613vw auto;
      height: 8.7507vw;
      width: auto;
    }
    h3{
      font-family: Alice;
      font-style: normal;
      font-weight: 800;
      font-size: 4.167vw;
      line-height: 3.81975vw;
      color: #301c11;
      text-align: center;
    }
    .our_pluses__container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      .our_pluses__item{
        width: calc(33.3% - 40px);
        margin-bottom: 24vw * $px;
        .title{
          font-family: Alice;
          font-style: normal;
          font-weight: normal;
          font-size: 28vw * $px;
          line-height: 32vw * $px;
          color: #301C11;
          text-align: center;
        }
        .desc{
          margin-top: 10vw * $px;
          font-family: Alice;
          font-style: normal;
          font-weight: normal;
          font-size: 18vw * $px;
          line-height: 21vw * $px;
          text-align: justify;
          color: #000000;
        }
      }
    }
  }
}
.reviews{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50vw * $px 0;
  box-shadow: 0px -8px 8px rgba(0, 0, 0, 0.25);
  .global_container{
    margin: auto;
    img{
      display: block;
      margin: 0 auto 2.3613vw auto;
      height: 8.7507vw;
      width: auto;
    }
    h3{
      font-family: Alice;
      font-style: normal;
      font-weight: 800;
      font-size: 4.167vw;
      line-height: 3.81975vw;
      color: #301c11;
      text-align: center;
    }
    .reviews__container{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-left: 450vw * $px;
      .reviews__item{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20vw * $px;
        .image{
          min-width: 194vw * $px;
          height: 255vw * $px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
        .reviews__pers{
          margin-right: 15vw * $px;;
          .date{
            font-family: Alice;
            font-style: normal;
            font-weight: normal;
            font-size: 18vw * $px;
            line-height: 21vw * $px;
            text-align: right;
            color: #3F1B07;
            margin-bottom: 15vw * $px;
          }
          .name{
            font-family: Alice;
            font-style: normal;
            font-weight: normal;
            font-size: 28vw * $px;
            line-height: 32vw * $px;
            text-align: right;
            color: #3F1B07;
            margin-bottom: 15vw * $px;
          }
          .subj{
            font-family: Alice;
            font-style: normal;
            font-weight: normal;
            font-size: 18vw * $px;
            line-height: 21vw * $px;
            text-align: justify;
            color: rgba(0, 0, 0, 0.6);
          }
        }
      }
    }
  }

}
.recent_items{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30vw * $px 0 50vw * $px 0;
  .recent_items__article{
    font-family: Alice;
    font-style: normal;
    font-weight: 800;
    font-size: 60vw * $px;
    line-height: 55vw * $px;
    color: #301C11;
    text-align: center;
    margin: 30vw * $px auto 60vw * $px auto;
  }
  .recent_items__container{
    padding: 0 122vw * $px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    .single_news_item{
      width: calc(20% - 1.5vw);
      position: relative;
      box-shadow: 0 14vw * $px 28vw * $px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      &:hover{
        .single_news_item__img{
          position: relative;
          &::after{
            position: absolute;
            background-color: rgba(0,0,0,0.6);
            width: 100%;
            height: 100%;
            content: "";
            top: 0;
            left: 0;
          }
        }
      }
      .item_lnk{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        top: 0;
        left: 0;
        cursor: pointer;
      }
      .single_news_item_container{
        width: 100%;
        height: 100%;
        .single_news_item__img{
          height: 225vw * $px;
          width: 100%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
        .single_news__title{
          background-color: #3F1B07;
          color: white;
          padding: 16vw * $px;
          z-index: 5;
          box-sizing: border-box;
          position: absolute;
          font-size: 16vw * $px;
          bottom: 0;
          left: 0;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
section.carousel{
  padding: 0 122vw * $px 50vw * $px 122vw * $px;
  box-sizing: border-box;
  .carousel__article{
    font-family: Alice;
    font-style: normal;
    font-weight: 800;
    font-size: 60vw * $px;
    line-height: 55vw * $px;
    color: #301C11;
    text-align: center;
  }
}
#footer{
  position: relative;
  background-color: #3f1b07;
  .container{
    padding: 20vw * $px 0 20vw * $px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    > div{
      width: 33.3%;
      padding: 0 20vw * $px;
      box-sizing: border-box;
    }
    .empty{
      .footer_element{
        position: absolute;
        bottom: 0;
        left: 20vw * $px;
        width: 30%;
        height: auto;
      }
    }
    .feedback{
      color: white;
      div{
        form{
          width: 100%;
          p{
            margin: 0.694vw 0;
          }
          input{
            width: 100%;
            box-sizing: border-box
          }
        }
      }
    }
    .contacts{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
      font-family: Alice;
      font-style: normal;
      font-weight: normal;
      font-size: 20vw * $px;
      line-height: 23vw * $px;
      color: #FFFFFF;
      text-align: center;
      border-left: 1px solid rgba(255, 255, 255, 0.3);
      border-right: 1px solid rgba(255, 255, 255, 0.3);
      .socials{
        padding: 5vw * $px 0;
        a{
          text-decoration: none;
        }
      }
      h3{
        font-family: Alice;
        font-style: normal;
        font-weight: normal;
        font-size: 32vw * $px;
        line-height: 37vw * $px;
        color: #FFFFFF;
      }
      span{
        padding: 5vw * $px 0;
      }
    }
  }
}